.form {
    border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
    min-height: 900px;
    max-width: 450px;
    padding: 30px;
    padding-top: 80px;
    border-radius: 0;
  
    @media (max-width: 48em) {
      max-width: 100%;
    }
  }
  